html {
    background-color  : #1d1d1d;
    color             : #eaeaea;
    font-size         : 16px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing   : border-box;
    box-sizing        : border-box;
    margin            : 0;
    padding           : 0;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing   : inherit;
    box-sizing        : inherit;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, Tahoma, Arial, "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
    line-height: 2;
    margin     : 0;
    padding    : 0;
}

p {
    font-size: 1rem;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

a,
a:active,
a:visited,
a:any-link {
    color: #eaeaea;
}

.global-max-width {
    max-width: 1440px;
    display  : flex;
    margin   : auto;
}

.global-nav {
    width          : 12rem;
    display        : flex;
    flex-direction : column;
    justify-content: center;
    align-items    : center;
    border-right   : solid 2px #5c5c5c;
}

.global-stage {
    flex      : 1;
    height    : 100vh;
    overflow-y: auto;
    padding   : 4rem 8rem;
}