:root {
    --white   : #eaeaea;
    --black   : #1d1d1d;
    --gray    : #5c5c5c;
    --maxWidth: 1440px;
}

html {
    background-color  : var(--black);
    color             : var(--white);
    font-size         : 18px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing   : border-box;
    box-sizing        : border-box;
    margin            : 0;
    padding           : 0;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing   : inherit;
    box-sizing        : inherit;
    margin-block-start: 0;
    margin-block-end  : 0;
    margin            : 0;
    padding           : 0;
}

body {
    font-family   : -apple-system, BlinkMacSystemFont, Tahoma, Arial, "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
    line-height   : 2;
    letter-spacing: 0.05rem;
    margin        : 0;
    padding       : 0;
    font-size     : 1rem;
    font-weight   : 300;
}

::selection {
    background-color: var(--white);
    color           : var(--black);
}

p {
    font-size         : 1rem;
    margin-block-start: 1rem;
    margin-block-end  : 1rem;
}

h1 {
    font-size         : 2rem;
    font-weight       : 600;
    line-height       : 1.5;
    margin-block-start: 3rem;
    margin-block-end  : 3rem;
}

h2 {
    font-size         : 1.5rem;
    font-weight       : 300;
    line-height       : 1.75;
    margin-block-start: 2rem;
    margin-block-end  : 2rem;
}

h3 {
    font-size         : 1rem;
    font-weight       : 300;
    margin-block-start: 1.5rem;
    margin-block-end  : 1.5rem;
}

img {
    display           : block;
    width             : 100%;
    margin-block-start: 1rem;
    margin-block-end  : 1rem;
}

.image-note {
    color           : var(--white);
    opacity         : 0.5;
    text-align      : center;
    display         : block;
    font-size       : 0.75rem;
    margin-block-end: 0.75rem;
}

a,
a:active,
a:visited,
a:any-link {
    color             : var(--white);
    /* text-decoration: none;
    border-bottom     : solid 2px var(--white); */
}

svg>path {
    fill        : inherit;
    stroke      : inherit;
    stroke-width: inherit;
}

a>svg {
    width       : 1.5rem;
    height      : 1.5rem;
    fill        : var(--white);
    stroke      : var(--white);
    stroke-width: 0;
}

q {
    border-left       : solid 2px gray;
    display           : inline-block;
    padding           : 1rem 2rem;
    margin-block-start: 1rem;
    margin-block-end  : 1rem;
}

q::before {
    content: none;
}

ul,
ol {
    margin-inline-start: 1rem;
}

hr {
    background-color: var(--gray);
    height          : 1px;
    border          : none;
}

code {
    padding         : 1rem;
    background-color: #000000;
    color           : var(--white);
    font-family     : "Courier New", "Courier";
    font-weight     : 600;
    font-size       : 1rem;
    line-height     : 1rem;
    display         : inline-block;
    vertical-align  : middle;
    white-space     : break-spaces;
}

.g-max-width {
    position : relative;
    max-width: var(--maxWidth);
    display  : flex;
    margin   : auto;
}

.g-nav {
    width           : 12rem;
    display         : flex;
    flex-direction  : column;
    justify-content : flex-end;
    align-items     : center;
    border-right    : solid 2px var(--gray);
    position        : fixed;
    left            : calc(max(calc(100vw - var(--maxWidth)), 0px) / 2);
    /* use 100vw instead of 100% to prevent the influence of scroll bar */
    top             : 0;
    bottom          : 0;
    padding-bottom  : 2rem;
    z-index         : 9990;
    background-color: var(--black);
}

.g-nav>a {
    margin    : 1rem 0;
    text-align: center;
}

.g-stage {
    flex   : 1;
    padding: 4rem 12rem 4rem 24rem;
}

@media only screen and (max-width: 1024px) {

    html {
        font-size: 16px;
    }

    h1 {
        font-size         : 2rem;
        font-weight       : 600;
        line-height       : 1.5;
        margin-block-start: 1rem;
        margin-block-end  : 1rem;
    }

    h2 {
        font-size         : 1rem;
        font-weight       : 600;
        line-height       : 1.5;
        margin-block-start: 1rem;
        margin-block-end  : 1rem;
    }

    h3 {
        font-size         : 1rem;
        font-weight       : 300;
        margin-block-start: 1rem;
        margin-block-end  : 1rem;
    }

    q {
        padding: 1rem;
    }

    .g-nav {
        top            : unset;
        left           : 0;
        right          : 0;
        width          : 100%;
        flex-direction : row;
        border-right   : none;
        border-top     : solid 2px var(--gray);
        height         : 4rem;
        justify-content: space-around;
        padding-bottom : 0rem;
    }

    .g-nav>a {
        margin-block-start: 0;
        margin-block-end  : 0;
        border-bottom     : none;
        line-height       : 1.5rem;
    }

    .g-stage {
        flex   : 1;
        padding: 2rem 1rem 6rem 1rem;
    }
}